:root {
    --linker-width: 4px;
    --unit: 0.1px;
    --flow-content-padding: 60px;
    --flow-item-padding: 60px;
    --max-item-height: 200px;
    --def-width: calc(100vh/400 * 200);
    --linker-overlap: 16px;
    --mini-padding-unit: 4px;
    --tentative-color: 200, 200, 200;
    --link-color: rgb(126, 215, 197);
    
    --main-accent: rgb(232, 111, 157);
    --main-accent-light: rgb(235, 179, 201);
    --padding-unit: 16px;
    --t-menu-padding: 4px;
    --t-menu-item-size: 40px;
    --accent-pink: rgb(204, 161, 234);
    --main-white-color: rgb(230,230,230);
    --current-ocean-color: ;
}
.flow-stack {
    background-color: rgba(220,220,220);
    width: fit-content;
    height: fit-content;
    padding: var(--mini-padding-unit);
    overflow: hidden;
    border-radius: 9px;
}
/** {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/

.page {
    width: 100vw;
    height: fit-content;
    box-sizing: border-box;
    /*font-family: "" "JK gocthic";*/
    font-family: "M plus 1";
}

.container-base {
    display: flex;
    overflow-y: scroll; 
    overflow-x: hidden;
    width: var(--def-width);
    height: fit-content;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
}

.flow-list-container {
    height: fit-content;
    overflow-y: hidden; 
    background: #020024;
    background: 
    linear-gradient(
        0deg,
        /*rgb(11, 0, 36) 0%, 
        rgb(35, 9, 121) 35%, 
        rgb(17, 9, 61) 74%, 
        rgb(192, 165, 202) 0%*/
        rgb(30,30,30) 0%,
        rgba(var(--current-ocean-color)) 100%
    );
    padding: var(--mini-padding-unit);
    padding: 0;
    /*position: relative;*/
}

.pack {
    position: static;
    display: block;
    width: 100%;
    height: fit-content;
}

.flow-description {
    background-color: rgb(var(--tentative-color));
    padding-inline: var(--mini-padding-unit)
}

.flow-context {
    background-color: rgba(var(--tentative-color), 0.5);
    border-radius: 50px 30%;
    padding-inline: var(--flow-item-padding);
    font-weight: lighter;
    font-family: sans-serif;
}

.deco1 {
    display: block;
    border: black solid 3px;
    position: relative;
    height: 32px;
    width: 32px;

    border-radius: 50%;
}

.deco1::after {
    content: "";
    display: block;
    border: black solid 3px;
    position: relative;
    height: 150%;
    width: 150%;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.deco2 {
    display: block;
    border: black solid 3px;
    position: relative;
    height: 32px;
    width: 32px;

    border-radius: 50%;
}

.deco2::after {
    content: "";
    display: block;
    border: var(--link-color) solid var(--linker-width);
    position: relative;
    height: 80%;
    width: 200%;
    top: 50%;
    left: 50%;
    

    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.flow-linker-base {
    display: block;
    border: var(--link-color) solid var(--linker-width);
    position: absolute;
    height: calc(var(--flow-content-padding) + 2 * var(--linker-overlap));
    width: 64px;
    top: calc(-1 * var(--flow-content-padding) - var(--linker-overlap));
    border-radius: 0px;
    border-style: solid;
    background: transparent;
    /*1px*/
    filter: drop-shadow(1px 1px 4px rgba(143,255,240,1));
}

.cross-linker-reversed-l {
    border-left: none;
    border-top: none;
    border-radius: 0px;
    border-bottom-right-radius: 30px;
}
.cross-linker-l {
    border-right: none;
    border-top:  none;
    border-radius: 0px;
    border-top-left-radius: 30px;
}

.cross-linker-line-rl {
    border: none;
    background:
    linear-gradient(
      to bottom right,
      rgba(0,0,0,0) calc(50% - var(--linker-width)/ 2 - var(--unit)),
      rgba(var(--link-color),1) calc(50% - var(--linker-width)/ 2),
      rgba(var(--link-color),1) 50%,
      rgba(var(--link-color),1) calc(50% + var(--linker-width)/ 2),
      rgba(0,0,0,0) calc(50% + var(--linker-width)/ 2 + var(--unit))
    );
    mask-image:
        repeating-linear-gradient(
          0deg,
            rgb(var(--link-color),1)   0    calc(var(--linker-width)*1.3),
            rgb(0,0,0,0)   calc(var(--linker-width)*1.3) calc(var(--linker-width) * 2)
        );
    mask-composite: intersect;
}

.cross-linker-line-lr {
    border: none;
    background:
    linear-gradient(
      to bottom left,
      rgba(0,0,0,0) calc(50% - var(--linker-width)/ 2 - var(--unit)),
      rgba(var(--link-color),1) calc(50% - var(--linker-width)/ 2),
      rgba(var(--link-color),1) 50%,
      rgba(var(--link-color),1) calc(50% + var(--linker-width)/ 2),
      rgba(0,0,0,0) calc(50% + var(--linker-width)/ 2 + var(--unit))
    );
    mask-image:
        repeating-linear-gradient(
          0deg,
            rgb(var(--link-color),1)   0    calc(var(--linker-width)*1.3),
            rgb(0,0,0,0)   calc(var(--linker-width)*1.3) calc(var(--linker-width) * 2)
        );
    mask-composite: intersect;
}

/*.cross-linker-line::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-bottom-width: 10;
    border-bottom-style: solid;
    bottom: 50%;
    left: 50%;
    transform: rotate(45deg);

}*/

.flow-pack {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
}

.linker-header {
    padding-top: calc(var(--linker-overlap) * 1.5) !important;
}

.flow-pack .flow-pack-item {
    position: relative;
    box-sizing: fit-content;
    margin-bottom: var(--flow-item-padding);
}


.flow-resource-container {
    width: 100%;
    height: fit-content;
    display: block;
    background-color: black;
    padding: 2px;
}

.flow-resource-container:has(.flow-image, .flow-video).active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(30,30,30, 0.875);
    z-index: 100;
    top:0;
    left:0;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.flow-resource-container:has(.flow-audio) {
    background-color: rgba(0,0,0,0);
}

.flow-content-padding {
    margin: calc(2 * var(--mini-padding-unit)) !important;
}

.flow-audio {
   
}
.flow-image {
    max-height: 100%;
    max-width: 100%;
}
.flow-video {
    max-height: 100%;
    max-width: 100%;
}

.flow-stack {
    background-color: rgba(220,220,220);
    width: fit-content;
    height: fit-content;
    padding: var(--mini-padding-unit);
    overflow: hidden;
    border-radius: 9px;
}

.flow-stack-item {
    background: var(--main-accent);
    display: inline-block;
    margin: var(--mini-padding-unit);
    padding: var(--mini-padding-unit);
    overflow: hidden;
    border-radius: 8px;
}

.flow-label {
    border-radius:5%; 
    width: fit-content;
    /*background-color: rgba(230, 230, 230);*/
    /*margin-bottom: var(--mini-padding-unit) !important;*/
    font-size: 1.5em;
    color: var(--main-white-color);
    /*font-family: "Kaisei Tokumin";*/
    
    /*font-family: "Shippori Mincho";*/
    /*font-family: sans-serif;*/
}
