.form-container {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 32px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
form > * {
    display: block;
    width: 80%;
    margin-left: .5rem;
    border-radius: 8px;
    min-height: 2em;
    padding-inline: 1em;
    padding-block: 0.5em;
}
/*
.fitcontent-textarea .textarea-reflector {
    height: fit-content;
    width: fit-content;
    white-space: pre-line;
    visibility: hidden;
}

.form-textarea-container {
    position: relative;
}

.form-textarea-container .textarea-source {
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
}*/
/*
form > .form-textarea-container {
    height: 5em;
}*/

form > textarea {
    height: 5em;
    resize: none;
}

form > label {
    margin: 0;
    padding: 0;
    text-align: left;
}