.form-container {
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}
form > * {
    display: block;
    width: 80%;
    margin-left: .5rem;
    border-radius: 8px;
    min-height: 2em;;
}

form > textarea {
    height: 5em;
}

form > label {
    margin: 0;
    padding: 0;
    text-align: left;
}