* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background:rgb(26, 34, 52);
    color: white;
    overflow: hidden;
}

body > main {
    overflow: hidden; 
}

body > main > .board {
    overflow: hidden; 
}

body > main > .board > .board-content {
    scroll-behavior: smooth;
}

body > * {
    width: 100%;
}

body header, body main, body footer {
    text-align: center;
}
@media (min-width: 450px) {
    body header {
        flex: 2;
    }

    body main {
        flex: 16;
    }

    body footer {
        flex: 1;
    }
}

@media (max-width: 450px) {
    body header {
        display: none;
    }

    body .rest > .smartphone-ui {
        display: inherit;
    }

    body main {
        flex: 1;
    }

    body footer {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
}

.board > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.board > .board-content {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: scroll;
    flex-direction: column;
    padding-inline: 48px;

    scrollbar-color: transparent transparent;
    align-items: center;
}

@media (max-width: 450px) {
    .board > .board-content {
        padding-inline: 0px;
    }
    h1 > .unit {
        display: block;
    }

    .thin-item {
        display: block;
    }
}

.board-content > .section {
    margin-block: 8px;
    width: 60%;
}

.section img {
    max-width: 100%;
    height: auto;
    max-height: 65vh;
}

header {
    /*background: rgb(25, 26, 36);*/
    display: flex;
    align-items: center;
    justify-content: center;
    --common: rotate(-90deg) skewX(10deg);
}

header.rotated-ui {
    width: 100vh;
}

header > .item {
    padding-inline: 16px;
    padding-block: 0;
    flex: 1;
    text-decoration: underline;
    transform:  skewY(0deg);
    filter: blur(0.5px) contrast(250%) saturate(160%)  drop-shadow(-10px -10px 10px red);
}

header > .item > a {
    color: white;
}

header > .item:nth-child(1) { transform: var(--common) skewY( 1deg); }
header > .item:nth-child(2) { transform: var(--common) skewY(10deg); }
header > .item:nth-child(3) { transform: var(--common) skewY(20deg); }
header > .item:nth-child(4) { transform: var(--common) skewY(10deg); }

header > .item:hover {
    filter: blur(0.5px) contrast(250%) saturate(160%)  drop-shadow(1px 1px 10px red);
    /*
    filter: blur(0.5px) contrast(250%) saturate(160%)  drop-shadow(-10px -10px 5px red);*/
    transform: var(--common) skewY( 1deg) translate(-9px, -9px);
    cursor: pointer;
}

header > .item::after {
  content: "";
  position: absolute;
  top: -8px; left: -8px; right: -8px; bottom: -8px;
  pointer-events: auto; 
}

header > .item:hover::after {
  content: "";
  position: absolute;
  top: -32px; left: -32px; right: -32px; bottom: -32px;
  pointer-events: auto; 
}

header > .item:hover::before {
  content: ">";
  position: static;
}

.vr {
    width: 1px;
    height: 100%;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
}

.v-marker {
    width: 0.17em;
    height: 1em;
    margin-inline: 0.2em;;
    background-color: rgb(32, 255, 218);
    display: inline-flex;
    flex-direction: column;
}

.null-cap {
    width: 0.17em;
    height: 1em;
    margin-inline: 0.2em;
    display: inline;
}

.v-marker.orange {
    background-color: rgb(255, 218, 32);
}

.frame-1 {
    border-radius: 64px 32px 64px 32px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    padding: 16px;
}

#full-screen-main-multi-ui-container {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: none;
}

.expand-on-click {
    cursor:zoom-in;
}

.expand-on-click .description {
    display: none;
}

#full-screen-main-multi-ui-container:has(.expanded) {
    background-color: rgba(26, 34, 52, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#full-screen-main-multi-ui-container .expanded {
    cursor:zoom-out;
    display: flex;
    width:  100%;
    height: 100%;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    --description-ratio: 20%;
}
#full-screen-main-multi-ui-container .expanded > .img-container {
    flex-grow: 0;
    flex-shrink: 0;
    /*flex-basis: fit-content;*/
    max-width:  calc(100% - var(--description-ratio));
    max-height: 100%;
    width: fit-content;
    height: fit-content;
    display: flex;
    
}

#full-screen-main-multi-ui-container .expanded > .img-container img {
    max-width:  100%;
    max-height: 100%;
    padding: 24px;
    border-radius: 54px;
    padding-inline: 24px;
}

@media (max-width: 550px) {
    #full-screen-main-multi-ui-container .expanded > .img-container img {
        padding: 0px;
        border-radius: 30px;
    }
}


#full-screen-main-multi-ui-container .expanded > .description {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    min-width:150px;
    width: var(--description-ratio);
    display: block;
    overflow: hidden;
    white-space: normal;  
    overflow-wrap: break-word;
}

.rotated-ui {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: rotate(90deg) translate(0%, -100%);
    transform-origin: center left;
    z-index:1;
}

.rotated-ui2 {
    position: absolute;
    left: -50%;
    top: 0%;
    width: 100vh;
    transform: rotate(90deg) translate(50%, 0%);
    z-index:1;
}

.multiple-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
    grid-auto-flow: dense;
}
.multiple-container > *:last-child {
  grid-column: span 2;
}
