* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {

}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background:rgb(26, 34, 52);
    color: white;
    overflow: hidden;
}

body > main {
    overflow: hidden; 
}

body > main > .board {
    overflow: hidden; 
    --overlay-dark: 0;
    position: relative;
}

body > main > .board::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /*background-color: rgb(255, 240, 240);*/
    /*background-color: rgba(61, 3, 71, var(--overlay-dark));*/
    /*background-color: rgba(61, 3, 71, calc(0.4 * min(1, 1.5*var(--overlay-dark)) ));*/
    /*background-color: rgb(25, 16, 36);*/
    background-image: url("../my-works/bagkground2.png");
    filter: blur(calc(4px * var(--overlay-dark)));
    background-color: rgb(25, 16, 36);
    /*filter: contrast(0.85) brightness(0.85);*/
    /*filter: brightness(0.85);*/
    /*filter: brightness(0.9);*/
    opacity: calc(1 * var(--overlay-dark));
    z-index: -1;
}

body > main > .board > .board-content {
    scroll-behavior: smooth;
}

body > * {
    width: 100%;
}

body header, body main, body footer {
    text-align: center;
}

body footer {
    max-height: 2em;
    /*background:rgb(215, 142, 216);*/
    color:rgb(60,60,60);
}

body#works footer {
    background:rgb(215, 142, 216);
}

@media (min-width: 450px) {
    body header {
        flex: 2;
    }

    body main {
        flex: 16;
    }

    body footer {
        flex: 1;
    }
}

@media (max-width: 450px) {
    body header {
        display: none;
    }

    body .rest > .smartphone-ui {
        display: inherit;
    }

    body main {
        flex: 1;
    }

    body footer {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
}

.board > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.board > .board-content {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: scroll;
    flex-direction: column;
    padding-inline: 48px;

    scrollbar-color: transparent transparent;
    align-items: center;
}


.thin-item {
    display: none !important;
}

@media (max-width: 450px) {
    .board > .board-content {
        padding-inline: 0px;
    }
    h1 > .unit {
        display: block;
    }

    .thin-item {
        display: block !important;
    }
}

.board-content > .section {
    margin-block: 8px;
    width: 60%;
}

.section img {
    max-width: 100%;
    height: auto;
    max-height: 65vh;
}

header {
    /*background: rgb(25, 26, 36);*/
    display: flex;
    align-items: center;
    justify-content: center;
    --common: rotate(-90deg) skewX(10deg);
}

header.rotated-ui {
    width: 100vh;
}

header > .item {
    padding-inline: 16px;
    padding-block: 0;
    flex: 1;
    text-decoration: underline;
    transform:  skewY(0deg);
    filter: blur(0.5px) contrast(250%) saturate(160%)  
    drop-shadow(-10px -10px 10px rgb(0, 166, 255));
}

header > .item > a {
    color: white;
}

header > .item:nth-child(1) { transform: var(--common) skewY( 1deg); }
header > .item:nth-child(2) { transform: var(--common) skewY(10deg); }
header > .item:nth-child(3) { transform: var(--common) skewY(20deg); }
header > .item:nth-child(4) { transform: var(--common) skewY(10deg); }

header > .item:hover {
    filter: blur(0.5px) contrast(250%) saturate(160%)  
    drop-shadow(1px 1px 10px rgb(186, 217, 234));
    /*
    filter: blur(0.5px) contrast(250%) saturate(160%)  drop-shadow(-10px -10px 5px red);*/
    transform: var(--common) skewY( 1deg) translate(-9px, -9px);
    cursor: pointer;
}

/*header > .item::after {
  content: "";
  position: absolute;
  top: -8px; left: -8px; right: -8px; bottom: -8px;
  pointer-events: auto; 
}*/

header > .item:hover > a > .hitobj {
  position: absolute;
  top: -32px; left: -32px; right: -32px; bottom: -32px;
  pointer-events: auto; 
}

header > .item:hover::before {
  content: ">";
  position: static;
}

.vr {
    width: 1px;
    height: 100%;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
}

.v-marker {
    width: 0.17em;
    height: 1em;
    margin-inline: 0.2em;;
    background-color: rgb(32, 255, 218);
    display: inline-flex;
    flex-direction: column;
}

.null-cap {
    width: 0.17em;
    height: 1em;
    margin-inline: 0.2em;
    display: inline;
}

.v-marker.orange {
    /*
    background-color: rgb(255, 32, 207);*/
    background-color: rgb(255, 218, 32);
}

.frame-1 {
    border-radius: 64px 32px 64px 32px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    padding: 16px;
}

#full-screen-main-multi-ui-container {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: none;
}
.expand-on-click:not(.expanded, :has(.expanded)) .img-container {  
    /*filter: grayscale();*/
    /*contrast(1.5) brightness(1.5) saturate(0.5) grayscale();
    */
}

.expand-on-click:not(.expanded, :has(.expanded)) .img-container:hover {
    overflow: hidden;
}
.expand-on-click:not(.expanded, :has(.expanded)) .img-container:hover img {
    transition: all 0.5s;
}

/* 拡大したときの3D的な没入感の向上(移動する向きを調整)*/
.expand-on-click.intense-intaract:not(.expanded, :has(.expanded)) .img-container:hover img/*.direction-rl*/ {
    transform: scale(1.15) translate(5px, -4px);
}

.expand-on-click:not(.expanded, :has(.expanded)) .img-container:hover img/*.direction-rl*/ {
    transform: scale(1.05) translate(5px, -4px);
}

/*:not(#full-screen-main-multi-ui-container) .expand-on-click .img-container:hover img.direction-ll {
    transform: scale(1.15) translate(-5px, -4px);
}*/


/*.expand-on-click:not(.expanded, :has(.expanded)) .img-container.eff1 img {
    mix-blend-mode: hard-light;
}*/


/*.expand-on-click:not(.expanded, :has(.expanded)) .img-container.eff1:hover img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: white;
}*/

.section:has(.ett) {
    background-color: rgba(255,255,255,var(--overlay-dark));
    mix-blend-mode: normal;
}


.expand-on-click:not(.expanded, :has(.expanded)):has(.ett) {
    /*background-color: rgba(0, 255, 242, var(--overlay-dark));*/
    /*mix-blend-mode: normal;*/
}

.expand-on-click:not(.expanded, :has(.expanded)):has(.ett) {
/*    mix-blend-mode: normal !important;*/
    background-color: black;
    mix-blend-mode: darken;
    /*background-color:hotpink;*/
}

.expand-on-click:not(.expanded, :has(.expanded)) .img-container.eff1:hover img {
    /*mix-blend-mode: darken;*/
    mix-blend-mode: hard-light;
}

.expand-on-click:not(.expanded, :has(.expanded)):has(.eff1:hover) {
    background-color: rgb(0, 255, 242);
    mix-blend-mode: normal;
}


/*.img-container.eff1 img::before{
    content: "";
    mix-blend-mode: normal !important;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}*/
.expand-on-click:not(.expanded, :has(.expanded)):has(.img-container.eff3:hover) {
    mask-image: radial-gradient(circle, rgb(0,0,0,1) 50%, rgb(0,0,0,0) 100%);
}

.expand-on-click:not(.expanded, :has(.expanded)) .img-container.eff1:hover {
    background: radial-gradient(rgba(255,255,255,0) 32%, rgba(1, 18, 99, 0.409) 120%);
}


.expand-on-click:not(.expanded, :has(.expanded)):has(.eff2:hover) {
    mix-blend-mode: normal;

}
.section:has(.eff2:hover) {
    mix-blend-mode: normal;
}

.expand-on-click:not(.expanded, :has(.expanded)) .img-container.eff2:hover {
    position: relative;
}


.expand-on-click:not(.expanded, :has(.expanded)) .img-container.eff2:hover img {
    filter: contrast(1.5) brightness(1.2) saturate(0.75) hue-rotate(15deg);
}

.expand-on-click:not(.expanded, :has(.expanded)) .img-container.eff2:hover::after {
    /*background-color: rgba(220,0.5) !important;*/
    /*filter:brightness(2.5);*/
    /*filter:saturate(2);
    filter:contrast(2);
    filter:hue-rotate(30deg);*/
    /*filter: contrast(1.5) brightness(1.2) hue-rotate(15deg);;*//*contrast(1.5) brightness(1.5) saturate(0.5);*/
    
    /*filter: contrast(1.5) brightness(1.2) saturate(0.75) hue-rotate(15deg);*/
    
    /*contrast(1.5) brightness(1.5) saturate(0.5);*/
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: none;
    background: radial-gradient(rgba(255,255,255,0) 32%, rgba(1, 18, 99, 0.409) 120%);
    z-index: 2;
    /* hue-rotate(-15deg);*/
}

.expand-on-click {
    cursor:zoom-in;
}

.expand-on-click .description {
    display: none;
}

#full-screen-main-multi-ui-container.smartphone-overlay-menu:has(.active-ui) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
@property --blur-val {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}
#full-screen-main-multi-ui-container {
    --blur-val:0px;
/*    transition-property: --blur-val;
    transition-duration: 1s;
    transition-timing-function: ease;*/
    /*transition: all ease 10s;*/
}
#full-screen-main-multi-ui-container:has(.expanded)::before{
    --blur-val:10px;
    position: absolute;
    background-color: rgb(255,255,255,0.3);
    filter:blur(128px);
    width: 100%;
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
#full-screen-main-multi-ui-container:has(.expanded) {
    /*backdrop-filter: blur(5px);*/
    backdrop-filter: blur(10px);
    background-color: rgba(26, 34, 52, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

#full-screen-main-multi-ui-container .expanded {
    cursor:zoom-out;
    display: flex;
    width:  100%;
    height: 100%;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    --description-ratio: 20%;
}
#full-screen-main-multi-ui-container .expanded > .img-container {
    flex-grow: 0;
    flex-shrink: 0;
    /*flex-basis: fit-content;*/
    max-width:  calc(100% - var(--description-ratio));
    max-height: 100%;
    width: fit-content;
    height: fit-content;
    display: flex;
}

#full-screen-main-multi-ui-container .expanded > .img-container img {
    max-width:  100%;
    max-height: 100%;
    padding: 24px;
    border-radius: 54px;
    padding-inline: 24px;
}

@media (max-width: 550px) {
    #full-screen-main-multi-ui-container .expanded > .img-container img {
        padding: 0px;
        border-radius: 30px;
    }
}


#full-screen-main-multi-ui-container .expanded > .description {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    min-width:150px;
    width: var(--description-ratio);
    display: block;
    overflow: hidden;
    white-space: normal;  
    overflow-wrap: break-word;
}

.rotated-ui {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: rotate(90deg) translate(0%, -100%);
    transform-origin: center left;
    z-index:1;
}

.rotated-ui2 {
    position: absolute;
    left: -50%;
    top: 0%;
    width: 100vh;
    transform: rotate(90deg) translate(50%, 0%);
    z-index:1;
}

.multiple-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
    grid-auto-flow: dense;
}
.multiple-container > *:last-child {
  grid-column: span 2;
}






.triangle {
  width: var(--t-menu-item-size);
  height: calc(sqrt(3) * var(--t-menu-item-size) / 2);
  display: block;
  background: rgba(30,30,30,.5);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  /*filter:
    drop-shadow(0 2px 4px rgb(63, 6, 89, 0.5))
    drop-shadow(0 10px 20px rgb(211, 226, 237));*/

  
  transition: --opac 0.5s ease-out;
  --col:  203, 199, 247;/*0,255,255;*/
  --opac: 0;
  --opac2: 0.7;
  --opac3: 0;
  --col2: rgb(30,30,30,var(--opac2));/*rgb(247, 199, 236);*/
  background-color: var(--col2);
  background:   linear-gradient( 60deg, transparent 60%, rgba(var(--col),var(--opac)) 66%, transparent 70%, transparent 72%), 
                linear-gradient(-60deg, transparent 60%, rgba(var(--col),var(--opac)) 66%, transparent 70%, transparent 72%), 
                linear-gradient(var(--col2) 0%, var(--col2) 80%, rgba(var(--col),var(--opac)) 100%);
}

/*
  CSS Haudini
  https://developer.mozilla.org/ja/docs/Web/CSS/Guides/Properties_and_values_API/Houdini
*/
@property --opac {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@property --opac3 {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.triangle:hover {
  --opac: 1;
  
  background:   linear-gradient( 60deg, transparent 60%, rgba(var(--col),var(--opac)) 66%, transparent 70%, black 100%), 
                linear-gradient(-60deg, transparent 60%, rgba(var(--col),var(--opac)) 66%, transparent 70%, black 100%), 
                linear-gradient(var(--col2) 0%, var(--col2) 80%, rgba(var(--col),var(--opac)) 100%);
}


.triangle::after {
  content: "";
  display: none;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.65s;
  transition-timing-function: ease;
  position: absolute;
}

/*.triangle:hover::after {
  content: "";
  width: var(--t-menu-item-size);
  height: calc(sqrt(3) * var(--t-menu-item-size) / 2);
  display: block;
  background: rgba(230,230,230,0.85);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: scale(1.25);
  /*background-color: rgb(248, 203, 245);
  background-color: rgb(67, 5, 62);*/
/*}*/

.triangle:active {
  
  background-color: rgb(0, 250, 212);
  background-color: rgb(149, 255, 239);
  background-color: rgb(248, 203, 245);
  /*filter:
    drop-shadow(0 2px 4px rgb(63, 6, 89, 0.5))
    drop-shadow(0 10px 20px rgb(211, 226, 237));*/
}

.triangle-menu-container {
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: calc(var(--t-menu-item-size) * 2 + var(--t-menu-padding) * 3);
  height: calc(sqrt(3) * var(--t-menu-item-size) + var(--t-menu-padding) * 3);
  margin: 0;
  padding: 0;
  /*background-color: gray;*/
  background-color: none;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
}

.reversed-text {
  transform: rotate(180deg) translate(50%,50%);
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  font-size: 2em;
}

.btn-on-canvas {
  margin-left: calc(75%);
  z-index: var(--on-canvas-z);
  margin-top: -10px;
  /*margin-top: calc(100% - 30%  - 0px);*/
  /*margin-bottom: calc(30%  - 0px);*/
}

:root {
  --main-accent: rgb(232, 111, 157);
  --main-accent-light: rgb(235, 179, 201);
  --padding-unit: 16px;
  --t-menu-padding: 4px;
  --t-menu-item-size: 40px;
  --accent-pink: rgb(204, 161, 234);
  --main-white-color: rgb(230,230,230);
  --current-ocean-color: ;
}


.menu-item {
  position: absolute;
  display: block;
  font-family: sans-serif;
  color: rgba(200,200,200);
  font-size: calc(var(--t-menu-item-size)/5);
  width: 100%;
  height: 100%;
  text-align: center;
}

.t1 {
  left: var(--t-menu-padding);
  bottom: calc(var(--t-menu-padding) / sqrt(3) );
}
.t2 {
  right: var(--t-menu-padding);
  bottom: calc(var(--t-menu-padding) / sqrt(3) );
}
.t3 {
  top: calc(var(--t-menu-padding) * sqrt(3) );
  left: 50%;
  transform: translate(-50%);
}

.noa {
  text-decoration: none;
}


.smartphone-overlay-menu-content {
    display: none;
}


.smartphone-overlay-menu-content.active-ui {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    
    background-color: rgba(26, 34, 52, .9);
    font-size: 2.5em;
    font-color: white;
}

div.margin-for-background {
    display: none;
}
div.margin-for-background.a1 {
    height: 20vw;
}
div.margin-for-background.a2 {
    height: 20vw;
}


div.margin-for-background.a3 {
    height: 10vw;
}
div.margin-for-background.a4 {
    height: 10vw;
}
@media (min-width: 0px) {
    div.margin-for-background {
        display: block;
        width: 100%;
    }
}